// === Variables === \\
// Colors
$black: #000;
$white: #fff;

// for project

$light-violet: #6592e3;

// Font Families
$primary-color: $black;
$primary-font: Gilroy;
$secondary-font: 'Montserrat', sans-serif;

// Font Sizes
$primary-font-size: 1.5rem;
$secondary-font-size: 1.6rem;

// Line Heights
$primary-line-height: 2.06;

// $secondary-font: Montserrat;
